.DishDetailContentContainer {
  background-color: white;
}
.DishDetailContentContainer .restaurantOutside {
  height: 35vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}

.DishDetailContentContainer .restaurantOutside img {
  margin-top: 5%;
  height: 100%;
  width: 100%;
}

.DishDetailContentContainer .restaurantInside {
  height: 50vw;
}

.DishDetailContentContainer .restaurantInside {
  height: 96vw;
}
