.MainMenuContainer {

}

.MainMenuContainer .menu-section{

  border: 1px solid red;
}


.segmentSpace{
  height: 34px;
  background-color: blue;
}

.removePaddingMargin{
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.whiteSpace{
  height: 34px;
}